/* .card {
    --bs-body-bg: #202224;
    --bs-body-color-rgb: 26, 28, 30;
    --bs-card-border-color: #252729;
} */

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: underline; /* no underline */
}

  
.roboto {
    font-family: 'Roboto';
}

.chart-bg {
    padding: 1%;
    font-family: 'Roboto';
    font-size: 12pt;
    border-radius: 10px;
    border-color: #202224;
    background-color: #202224;
}

.section-heading {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #686d71;
}

.title {
    font-family: "Raleway";
}

.smaller-title {
    font-family: "Raleway";
    font-size: 10pt;
}

.smaller-title {
    font-family: 'Roboto', sans-serif !important;
    font-size: 8pt;
}

.stars {
    color: #15d37c !important;
}

.year {
    font-family: 'Roboto', sans-serif !important;
}

.poster {
    border: 1px solid #202224;
    border-radius: 7px;
}

.year-labels {
    text-transform: uppercase;
}

.portrait {
    border: 1px solid #202224;
    border-radius: 24px;
}

.big-number-card {
    font-family: 'Montserrat';
    text-align: center;
}

.small-number-card {
    font-family: 'Roboto';
    filter: brightness(80%);
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(20%);
}

.smaller {
  top: 50%;
  transform: translateY(35%);
}


.heatmap-date {
    background: #141414;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.heatmap-date span {
    display: block;
    margin-bottom: 5px;
}

#heatmap-container {
    margin: 0;
    padding: 0;
}

.img-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(10%, -10%); /* Adjust the values as needed */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #6c757d;
}

.badge-green {
    color: #fff !important;
    background-color: #15d37c !important;
}

.badge-gray {
    color: #fff !important;
    background-color: #6c757d !important;
}