.form-control {
    border: 1px solid #6c757d;
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
    margin-left: 3px;
}

.input-group-text {
    border: 1px solid #6c757d;
    background-color: #6c757d;
}

.form-label {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt
}

#addMovieControl {
    border: 1px solid #202224;
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    border-radius: 7px;
    padding: 18px;
    background-color: #202224;
    color: inherit;
    margin-bottom: 10px;
}

.poster {
    border: 1px solid #202224;
    border-radius: 7px;
}

.bg-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.gradient-overlay-partial {
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(33,37,41,0.65), rgb(33,37,41,0.85));
    pointer-events: all; /* Allows clicks to pass through to the button below */
    position: absolute;
}

.bg-image-partial {
    height: 107px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.list-group-item {
    position: relative;
    display: block;
    cursor: move;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: inherit;
    border: none;
}

.list-group-numbered>.list-group-item::before {
    content: none;
    display: none;
}

.counterItem::before {
    content: counters(section, ".") "";
    counter-increment: section;
}