/* APPLY GENERIC FONT TO SIDEBAR */
#sidebar {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt
}

/* DATATABLE SEARCH BUTTON BORDER STYLING */
div.dataTables_wrapper div.dataTables_filter input {
  border: 1px #787e84 solid;
  border-radius: 7px !important;
}

/* CHANGE FOCUS CONTROL TO A LIGHTENING OF THE BORDER, NO SHADOW */
.form-control:focus, div.dataTables_wrapper div.dataTables_length select:focus {
  border: 1px #aaaaaa solid !important;
  box-shadow: none;
}

/* SIDEBAR SEARCHPANE BUTTON GRID */
div.dtsp-panesContainer button.btn-subtle {
    background-color: transparent;
    color: #787e84;
    font-size: 10pt;
    border: 1px #787e84 solid;
}

/* TURN OFF SEARCH BUTTON VISUAL ICON */
div.dtsp-panesContainer div.dtsp-searchPane div.dtsp-topRow div.dtsp-subRow1 button {
  display: none;
}

/* MOCK CARD-HEADER FOR TOP OF SEARCHPANE */
div.dtsp-panesContainer div.dtsp-searchPane div.dtsp-topRow {
  background-color: #24292d;
  border: 1px #45494d solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px;
  margin-bottom: -2px;
}

/* MOCK CARD-BODY FOR SEARCHPANES */
div.dtsp-panesContainer div.dtsp-searchPane div.dataTables_wrapper {
    border: 1px #45494d solid;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
}

/* REPLACE 2px HOVER-BORDER FOR SEARCHPANES */
div.dtsp-panesContainer div.dtsp-searchPane div.dataTables_wrapper:hover {
  border: 1px #45494d solid !important;
}

/* SEARCHPANE SEARCH BAR STYLING */
div.dtsp-panesContainer div.dtsp-searchPane div.dtsp-topRow div.dtsp-subRow1 input {
  background-color: transparent;
  border: 1px #787e84 solid;
  margin: 0.25em;
}

/* SEARCHPANE SEARCH BAR HOVER STYLING */
div.dtsp-searchPane input.dtsp-paneInputButton:hover, div.dtsp-searchPane button.dtsp-paneButton:hover {
  border-radius: var(--bs-border-radius);
  cursor: inherit;
}

/* SEARCHPANE BUTTONS STYLING */
div.dtsp-panesContainer div.dtsp-searchPane div.dtsp-topRow div.dtsp-subRow2 {
  margin: 0.25em;
  margin-left: 1em;
}

/* SEARCHPANE TABLE STYLING */
div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody {
  background: #212529 !important;
  height: 156px !important;
}

/* CORRECT STRANGE HOVER EFFECT ON COLLAPSED SEARCHPANES */
div.dtsp-searchPane div.dtsp-topRow.dtsp-bordered:hover {
  background-color: #24292d;
}

/* DATATABLE ENTRY AMOUNT SELECTOR DROPDOWN */
div.dataTables_wrapper div.dataTables_length select {
  color: #fff; /* Set the text color to white */
  background-color: transparent; /* Set the background color to the dark theme background */
  border: 1px solid #787e84; /* Set the border color */
  border-radius: 7px;
}

/* DATATABLE ENTRY AMOUNT SELECTOR DROPDOWN MENU */
div.dataTables_wrapper div.dataTables_length option {
  background-color: #212529; /* Set the background color to the dark theme background */
}



/* div.dtsp-panesContainer div.dtsp-searchPane div.dtsp-topRow div.dtsp-subRow1 input:hover {
    background-color: #6c757d;
    height: None;
} */

/* div.dtsp-panesContainer div.dtsp-title {
    margin-top: 0px !important;
} */

/* div.dtsp-panesContainer div.dtsp-searchPane div.dtsp-topRow {
    border: None;
} */

/* div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody {
  background: #252729 !important;
  height: 140px !important;
} */

/* div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody:hover {
    background: #252729 !important;
    border:None;
} */

/* div.dtsp-searchPane input.dtsp-paneInputButton, div.dtsp-searchPane button.dtsp-paneButton {
    height: 35px;
    margin: 0px;
} */

/* div.dtsp-panesContainer div.dtsp-searchPane div.dataTables_wrapper div.dtsp-nameCont span.badge {
    margin-top: 0px;
} */

/* table.dataTable tbody tr {
    background-color: #202224;
} */

/* div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    float: right;
    padding-bottom: 10px;
} */

/* .table>:not(caption)>*>* {
    background-color: #252729;
} */

/* table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
    border: none;
} */

/* .form-control {
    border: 1px solid #6c757d;
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
    margin-left: 3px;
} */

/* .input-group-text {
    border: 1px solid #6c757d;
    background-color: #6c757d;
} */

/* .form-label {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt
} */

/* #addMovieControl {
    border: 1px solid #202224;
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    border-radius: 7px;
    padding: 18px;
    background-color: #202224;
    color: inherit;
    margin-bottom: 10px;
} */

/* div.dtsp-panesContainer button.btn-subtle:hover {
    background-color: #6c757d;
    color: #ffffff;
    border-radius: var(--bs-btn-border-radius);
} */

/* BREAKPOINT */

.poster {
  border: 1px solid #202224;
  border-radius: 4px;
}

#log_wrapper, #watchlist_wrapper {
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  font-size: 10pt
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: inherit;
  margin-left: -2px;
  margin-right: inherit;
}

.page-link {
  margin-bottom: 6pt;
  font-family: 'Roboto', sans-serif !important;
  font-size: 10pt;
  --bs-pagination-active-bg: #6c757d;
  --bs-pagination-active-border-color: #6c757d;
  --bs-pagination-color: #6c757d;
  --bs-pagination-hover-color: #fff;
  --bs-pagination-focus-color: #fff;
}

.page-link:focus {
  outline: 0;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid transparent;
  background: none;
}

div.dataTables_wrapper div.dataTables_length select {
  color-scheme: dark;
  width: 65%;
  display: inline-block;
}

.dtsp-titleRow .btn, .dtsp-title {
  /* display: inline-block; */
  font-family: 'Roboto', sans-serif !important;
  font-size: 10pt;
}

.dtsp-title {
  padding-top: 0.5em;
}