
.text-bg-pink {
    color: #fff!important;
    background-color: #f27ca7 !important;
}

.text-bg-pink2 {
    color: #fff!important;
    background-color: #ee5b98 !important;
}

.text-bg-black-gold {
    color: #d3a221!important;
    background-color: #0c0c0c !important;
}

.text-bg-pondering {
    color: #fff!important;
    background-color: #5b00f5 !important;
}

.text-bg-orange {
    color: #fff!important;
    background-color: #ff8408 !important;
}

.text-bg-mom {
    color: #fff!important;
    background-color: #e43159 !important;
}

.text-bg-dad {
    color: #fff!important;
    background-color: #30394d !important;
}

.text-bg-reddit {
    color: #fff!important;
    background-color: #ff4500 !important;
}

.text-bg-imdb {
    color: #000!important;
    background-color: #f5c518 !important;
}

.text-bg-tiktok {
    color: #fff!important;
    background-color: #000 !important;
}

.text-bg-gooby {
    color: #ffc400!important;
    background-color: #c60b1e !important;
}

.text-bg-mia {
    color: #000!important;
    background-color: #fff !important;
}

.text-bg-yt {
    color: #ff0000 !important;
    background-color: #fff !important;
}
