<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}CineMax'D{% endblock %}</title>

        {# External Stylesheets #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'watchlist/css/offcanvas.css' %}">
        <link rel="stylesheet" href="{% static 'watchlist/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'watchlist/css/tags.css' %}">

        {# Additional CSS Block #}
        {% block css %}{% endblock %}

        {# Favicon #}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'watchlist/favicon.ico' %}">

        {# JS Libraries #}
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'watchlist/js/standard.js' %}"></script>
    </head>
    <body data-bs-theme="dark" class="bg-dark-subtle">
        {# Navbar #}
        <nav id="navbar" class="navbar sticky-top navbar-expand-lg py-1 bg-black shadow-lg">

            {# Brand Logo #}
            <div class="d-flex flex-wrap me-auto">
                <a href="/" class="d-flex navbar-brand align-items-center ms-3 mb-3 mb-lg-0 me-lg-auto text-decoration-none">
                    <img src="{% static 'watchlist/images/site-logo-h.png' %}" height="40px" alt="Bootstrap">
                </a>
            </div>

            {# Stats Bar #}
            <div id="statbar" class="hstack gap-3 py-2">
                {% for stat_key, stat_label, stat_value in stat_data %}
                    <div class="p-2 text-center">
                        <small class="h6 heading-stats">{{ stat_value|default:0 }}</small>
                        <small>{{ stat_label }}</small>
                    </div>
                    {% if not forloop.last %}
                        <div class="vr"></div>
                    {% endif %}
                {% endfor %}
            </div>

            {# Nav Links #}
            <ul class="nav nav-pills tiny nav-item nav-fill ms-auto">
                {% with current_url=request.path %}
                    {% for link, icon, text in navigation_links %}
                        <li class="nav-item px-2">
                            <a href="{% url link %}" class="nav-link{% if current_url == '/watchlist/'|add:link|add:'/' %} active{% endif %} rounded-5 raleway">
                                <div class="row">
                                    <div class="col d-flex align-items-center pe-1">
                                        <i class="bi nav-icon {{ icon }}"></i>
                                    </div>
                                    <div class="col d-flex align-items-center ps-0">
                                        <span class="nav-text text-center">{{ text }}<span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </nav>

        {# Content Block #}
        {% block content %}{% endblock %}

        {# Offcanvas Sidebar Container #}
        <div id="sidebarContainer"></div>

        {# Additional JS Block #}
        {% block js %}{% endblock %}
    </body>
</html>
