{% extends 'watchlist/base.html' %}
{% load static %}
{% load custom_filters %}

{% block css %}
    <link rel="stylesheet" href="{% static 'watchlist/css/dashboard.css' %}">
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.45.0/apexcharts.min.js"></script>
<script src="{% static 'watchlist/js/dashboard.js' %}"></script>
<script>
    var heatmap_options = {
        series: [
            {
                name: 'Sunday',
                data: {{ sunday|safe }}
            },
            {   
                name: 'Saturday',
                data: {{ saturday|safe }}
            },
            {
                name: 'Friday',
                data: {{ friday|safe }}
            },
            {
                name: 'Thursday',
                data: {{ thursday|safe }}
            },
            {
                name: 'Wednesday',
                data: {{ wednesday|safe }}
            },
            {
                name: 'Tuesday',
                data: {{ tuesday|safe }}
            },
            {
                name: 'Monday',
                data: {{ monday|safe }}
            }
        ],
        chart: {
            toolbar: {
                show: false
            },
            height: 250,
            type: 'heatmap',
        },
        dataLabels: {
            enabled: false,
            style: {
                fontFamily: 'Roboto',
                fontSize: '12px',
                colors: ["#fff"]
            }
        },
        plotOptions: {
            heatmap: {
              shadeIntensity: 1.0,
              radius: 0,
              useFillColorAsStroke: true,
              colorScale: {
                ranges: [{
                    from: 0,
                    to: 0,
                    color: '#202224'
                  },
                  {
                    from: 1,
                    to: 3,
                    color: '#058618'
                  },
                ]
              }
            }
          },
          legend: {
            show: false
          },
          title: {
            text: 'MOVIES PER DAY',
            floating: true,
            offsetY: 0,
            margin: 24,
            align: 'left',
            style: {
                color: '#fff',
                fontFamily: 'Roboto',
                fontSize: '12pt',
                color: '#686d71'
            }
        }
    };

    var moviesPerYear = {
        series: [{ 
            name: 'Movies', 
            data: {{ movie_counts|safe }} 
        }],
        chart: { 
            height: 200, 
            type: 'bar' 
        },
        colors: ['#6c757d'],
        plotOptions: {
            bar: {
                borderTopRadius: 4,    
                dataLabels: {
                    position: 'bottom', // top, center, bottom
                },
            }
        },
        dataLabels: {
            enabled: true,
            style: {
                fontFamily: 'Roboto',
                fontSize: '12px',
                colors: ["#adb5bd"]
            }
        },
        grid: {
            show: false
        },
        xaxis: {
            categories: {{ years }},
            labels: {
                show: true,
                style: {
                    fontFamily: 'Roboto',
                    fontSize: '10px',
                    colors: "#6c757d"
                }
            },
            position: 'bottom',
            axisTicks: {
                show: false
            }
        },
        yaxis: {
            labels: {
                show: false
            }
        },
        title: {
            text: 'MOVIES PER YEAR',
            floating: true,
            offsetY: 10,
            align: 'left',
            style: {
                color: '#fff',
                fontFamily: 'Roboto',
                fontSize: '12pt',
                color: '#686d71'
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), moviesPerYear);
    var heatmap = new ApexCharts(document.querySelector("#heatmap"), heatmap_options);
    chart.render();
    heatmap.render();
    
</script>
{% endblock %}

{% block content %}
<div class="row mx-3 mt-3">
    <div class="col-md-2 chart-bg">
        <b class="section-heading">LATEST</b>
        <div class="row mt-2">
            <div class="col-md-2 text-center">
                <img class="poster shadow-lg" src="{{ newest.posterLink }}" height="60px">
            </div>
            <div class="col-md-10">
                <div class="fw-bold sidebar-title">
                    {{ newest.title }} <b class="year">{{ newest.year }}</b>
                </div>
                <span class="little-stars">
                    {{ newest.rating|convert_to_stars }}
                </span>
                <span class="year">
                    &nbsp;&nbsp;&nbsp;{{ newest.date }}
                </span>
            </div>
        </div>
        <div class="row mt-2">
            <b class="section-heading">TOP THIS WEEK</b>
            <div class="row mt-2">
                <div class="col-md-2 text-center">
                    <img class="poster shadow-lg" src="{{ top_this_week.posterLink }}" height="60px">
                </div>
                <div class="col-md-10">
                    <div class="fw-bold sidebar-title">
                        {{ top_this_week.title }} <b class="year">{{ top_this_week.year }}</b>
                    </div>
                    <span class="little-stars">
                        {{ top_this_week.rating|convert_to_stars }}
                    </span>
                    <span class="year">
                        &nbsp;&nbsp;&nbsp;{{ top_this_week.date }}
                    </span>
                    </div>
            </div>
        </div>
        <div class="row mt-2">
            <b class="section-heading">TOP THIS MONTH</b>
            <div class="row mt-2">
                <div class="col-md-2 text-center">
                    <img class="poster shadow-lg" src="{{ top_this_month.posterLink }}" height="60px">
                </div>
                <div class="col-md-10">
                    <div class="fw-bold sidebar-title">
                        {{ top_this_month.title }} <b class="year">{{ top_this_month.year }}</b>
                    </div>
                    <span class="little-stars">
                        {{ top_this_month.rating|convert_to_stars }}
                    </span>
                    <span class="year">
                        &nbsp;&nbsp;&nbsp;{{ top_this_month.date }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <b class="section-heading">LAST 5★</b>
            <div class="row mt-2">
                <div class="col-md-2 text-center">
                    <img class="poster shadow-lg" src="{{ last_5.posterLink }}" height="60px">
                </div>
                <div class="col-md-10">
                    <div class="fw-bold sidebar-title">
                        {{ last_5.title }} <b class="year">{{ last_5.year }}</b>
                    </div>
                    <span class="little-stars">
                        {{ last_5.rating|convert_to_stars }}
                    </span>
                    <span class="year">
                        &nbsp;&nbsp;&nbsp;{{ last_5.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="chart" class="chart-bg">
        </div>
        <div id="heatmap" class="chart-bg mt-3">
        </div>
    </div>
    <div class="col-md-8">
    </div>
</div>
{% endblock %}
