{% extends 'watchlist/base.html' %}
{% load static %}
{% load custom_filters %}

{# Additional CSS Block #}
{% block css %}
    <link rel="stylesheet" href="{% static 'watchlist/css/dashboard.css' %}">
{% endblock %}

{# Additional JS Block #}
{% block js %}
    {# External Libraries #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.45.0/apexcharts.min.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>    
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/wc.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>


    {# Custom Scripts #}
    <script src="{% static 'watchlist/js/dashboard.js' %}"></script>

    {# Chart Inclusions #}
    {% include "./charts/companytree.html" %}
    {% include "./charts/heatmap.html" %}
    {% include "./charts/treemap.html" %}
    {% include "./charts/movperyear.html" %}
    {% include "./charts/weekdays.html" %}
    {% include "./charts/ratings.html" %}
    {% include "./charts/tagcloud.html" %}
    {% include "./charts/globe.html" %}
{% endblock %}

{# Content Block #}
{% block content %}
<div class="container-fluid">
    <div class="row my-0 g-3">

        {# Left Column (Last Seen, W-M-Y-All Tabs) #}
        <div class="col-md-4">
            <div class="row g-3">
            
                {# Last Seen Movie #}
                <div class="col-md-12">
                    {% include "./elements/big-card.html" with movie=newest %}
                </div>

                {# W-M-Y Tabs #}
                <div class="col-md-12">
                    <div class="card rounded-4 shadow">
                        <div class="card-header">
                            <ul class="nav nav-tabs nav-justified card-header-tabs roboto fw-semibold p-0" id="myTab" role="tablist">
                                {# Week Tab #}
                                {% include "./elements/nav-tab.html" with title="week" icon="bi-calendar3-week" active="active" %}
                                {# Month Tab #}
                                {% include "./elements/nav-tab-dropdown.html" with title="month" data=month icon="bi-calendar3" %}
                                {# Year Tab #}
                                {% include "./elements/nav-tab-dropdown.html" with title="year" data=year icon="bi-calendar3-fill" %}
                                {# Lifetime Tab #}
                                {% include "./elements/nav-tab.html" with title="lifetime" icon="bi-infinity" disabled="disabled" %}
                            </ul>
                        </div>                        
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                {# Week Tab #}
                                {% include "./elements/tab.html" with data=week active="active show" %}
                                {# Month Tab #}
                                {% for item in month %}
                                    {% include "./elements/tab.html" with data=item %}
                                {% endfor %}
                                {# Year Tab #}
                                {% for item in year %}
                                    {% include "./elements/tab.html" with data=item %}
                                {% endfor %}
                                {# Lifetime Tab #}
                                <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" tabindex="0">...</div>
                            </div>                          
                        </div>
                    </div>
                </div>
            
            </div>
        </div>

        {# Center Column (Charts, On-This-Day) #}
        <div class="col-md-4">
            <div class="row g-3">

                {# Movies Per Year Chart #}
                <div class="col-md-12">
                    <div class="card border border-1 rounded-4 shadow">
                        <div class="ms-3 mt-2 mb-0">
                            {% include "./elements/small-header.html" with text="Movies Watched by Year of Release" icon="bi-broadcast-pin" %}
                        </div>
                        <div id="movPerYear-container" class="card-body px-2 pt-1 pb-0">
                            <div id="movPerYear">
                            </div>
                        </div>
                    </div>
                </div>
                
                {# On This Day #}
                <div class="col-md-12">
                    {% include "./elements/on-this-day.html" with random=random %}
                </div>

                {# Streaks + Heatmap Grid #}
                <div class="col-md-6">
                    <div class="row g-3">

                        {# Streaks #}
                        <div class="col-md-12">
                            <div class="card rounded-4 shadow">
                                <div class="card-body text-center py-2 px-2">
                                    <div class="row g-0">

                                        {# Current Streak #}
                                        <div class="col-sm-6 border-end">
                                            {% include "./elements/small-header.html" with text="Current Streak" %}
                                            <div class="my-1">
                                                <span>
                                                    <b class="h4 big-number-card">
                                                        {% if streak.current == 0 %}
                                                            <i class="bi bi-fire text-body-secondary"></i>
                                                        {% else %}
                                                            <i class="bi bi-fire glow text-body-green"></i>
                                                        {% endif %}
                                                        {{ streak.current }}
                                                    </b>
                                                    <small class="h5 fw-semibold text-body-tertiary">days</small>
                                                </span>
                                            </div>
                                        </div>

                                        {# Longest Streak #}
                                        <div class="col-sm-6">
                                            {% include "./elements/small-header.html" with text="Longest Streak" %}
                                            <div class="my-1">
                                                <span>
                                                    <b class="h4 big-number-card">
                                                        <i class="bi bi-fire text-body-secondary"></i>
                                                        {{ streak.longest }}
                                                    </b>
                                                    <small class="h5 fw-semibold text-body-tertiary">days</small>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Heatmap #}
                        <div class="col-md-12">
                            <div class="card rounded-4 shadow mb-3 w-100">

                                {# Small Heading (with additional margins) #}
                                <div class="ms-3 my-2">
                                    {% include "./elements/small-header.html" with text="Movies Watched by Day" icon="bi-calendar3-event" %}
                                </div>

                                {# Heatmap Block #}
                                <div id="heatmap-container" class="card-body px-3 pb-3">
                                    <div id="heatmap">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                {# Ratings + Weekday Distributions #}
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="row g-0">

                        {# Movie Rating Distribution #}
                        <div class="card rounded-4 shadow mb-3 w-100 flex-grow-1" height="50%">

                            {# Small Header #}
                            <div class="ms-3 mt-2">
                                {% include "./elements/small-header.html" with text="Movie Rating Distribution" icon="bi-bookmark-star" %}
                            </div>

                            {# Rating Chart Block#}
                            <div id="ratingsChart-container" class="card-body px-3 pb-3 pt-0">
                                <div id="ratingsChart">
                                </div>
                            </div>

                        </div>

                        {# Weekday Rating Distribution #}
                        <div class="card rounded-4 shadow mb-3 w-100 flex-grow-1" height="50%">

                            {# Small Header #}
                            <div class="ms-3 mt-2">
                                {% include "./elements/small-header.html" with text="Movies by Weekday" icon="bi-calendar-day" %}
                            </div>

                            {# Weekday Chart Block#}
                            <div id="weekday-container" class="card-body px-3 pb-3 pt-0">
                                <div id="weekdayCount">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                {# Streaming Treemap #}
                <div class="col-md-12 mt-0">
                    <div class="row g-0">
        
                        {# Movie Rating Distribution #}
                        <div class="card rounded-4 shadow mb-3 w-100 flex-grow-1" height="50%">
        
                            {# Small Header #}
                            <div class="ms-3 mt-2">
                                {% include "./elements/small-header.html" with text="Streaming Service Treemap" icon="bi-tree-fill" %}
                            </div>
        
                            {# Treemap Chart Block#}
                            <div id="treemap-container" class="card-body px-3 pb-3 pt-0">
                                <div id="treemap">
                                </div>
                            </div>
        
                        </div>
        
                    </div>
                </div>

                {# Tag Cloud #}
                <div class="col-md-5 mt-0 align-items-stretch">
                    <div class="card rounded-4 shadow mb-3 w-100 flex-grow-1">
                        <div class="ms-3 my-2">
                            {% include "./elements/small-header.html" with text="Tag Cloud" icon="bi-tags-fill" %}
                        </div>
                        <div id="tagcloud-container" class="card-body px-0 pb-3 pt-0">
                            <div id="tagcloud">
                            </div>
                        </div>
                    </div>
                </div>

                {# Globe Chart #}
                <div class="col-md-7 mt-0">
                    <div class="card rounded-4 shadow mb-3 w-100">
                        <div class="ms-3 my-2">
                            {% include "./elements/small-header.html" with text="Global Distribution" icon="bi-globe-americas" %}
                        </div>
                        <div id="globe-container" class="card-body px-0 pb-3 pt-0">
                            <div id="globe">
                            </div>
                        </div>
                    </div>
                </div>

        
            </div>
        </div>

        {# Right Column (Streaming, Oscars, Actors / Directors) #}
        <div class="col-md-4">
            <div class="row g-3">
                
                {# Random Movies Carousel #}
                <div class="col-md-12">
                    <div class="card border border-0 rounded-4 shadow" id="random-container">
                        <button id="random-button" class="z-3 btn btn-sm text-bg-secondary rounded-5 position-absolute top-0 end-0 m-3" type="button">
                            <i class="bi bi-shuffle"></i>
                        </button>
                        <div id="random-carousel" class="carousel slide carousel-fade">

                            {# Carousel Buttons #}
                            <div class="carousel-indicators">
                                {% for movie in random %}
                                    <button type="button" data-bs-target="#random-carousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
                                {% endfor %}
                            </div>

                            {# Random Elements Block #}
                            <div id="random-elements" class="carousel-inner">
                                {% include "./elements/random-movies.html" with data=random %}
                            </div>

                        </div>

                        {# Control Buttons #}
                        <button class="carousel-control-prev week-button" type="button" data-bs-target="#random-carousel" data-bs-slide="prev"></button>
                        <button class="carousel-control-next week-button" type="button" data-bs-target="#random-carousel" data-bs-slide="next"></button>
                    </div>
                </div>
            
                {# Oscar Achievements / Studios #}
                <div class="col-md-6">
                    <div class="row g-3">

                        {# Oscar Achievements #}
                        <div class="col-md-12">
                            <div class="card rounded-4 shadow">
                                <div class="ms-3 my-2">
                                    {% include "./elements/small-header.html" with text="Best Picture Nominees" icon="bi-award" %}
                                </div>
                                <hr class="mt-0 mb-1 mx-3">
                                <div class="card-body px-3 py-0">                            
                                    <div class="table-responsive mb-2" style="max-height: 210px;">
                                        <table class="table table-sm table-borderless mb-1" id="oscars-table">
                                            <tbody>
                                                {% for year in oscars_data %}
                                                    <tr class="py-0">
                                                        <td>
                                                            <small class="{% if year.seen == year.total %} fw-semibold text-body-primary {% else %} text-body-secondary {% endif %}">
                                                                {{ year.year }} {{ year.award }}
                                                            </small>
                                                        </td>
                                                        <td class="text-center">
                                                            <small class="{% if year.seen == year.total %} fw-semibold text-body-primary {% else %} text-body-secondary {% endif %}">
                                                                {{ year.seen}} / {{ year.total }}
                                                            </small>
                                                        </td>
                                                        <td class="text-center mx-0">
                                                            {% include "./elements/oscar-badge-alt.html" with text=year.movies|parse_nominees|safe icon="bi-trophy-fill" color=year.winner_seen %}
                                                        </td>
                                                    </small>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Studios #}
                        <div class="col-md-12">
                            <div class="card rounded-4 shadow">
                                <div class="ms-3 mt-2 mb-0">
                                    {% include "./elements/small-header.html" with text="Most Watched Studios" icon="bi-camera-reels" %}
                                </div>
                                
                                <div class="card-body px-3 pt-1 pb-3">
                                    <div class="row row-cols-1 g-2">
                                        {% for item in studio_data %}
                                            <div class="col">
                                                <div class="card rounded-5 border border-0 shadow">
                                                    <div class="gradient-overlay-half rounded-5 position-absolute top-0 start-0 w-100">
                                                        <div class="row g-0">
                                                            <div class="col-md-10 d-flex flex-column">
                                                                <span class="position-absolute mx-2 mt-3 border border-3 top-0 start-0 translate-middle badge rounded-pill fw-normal roboto text-bg-dark">
                                                                    {{ forloop.counter }}
                                                                </span>
                                                                <div class="card-body py-3 px-0" style="position: relative;">
                                                                    <img src="https://image.tmdb.org/t/p/original{{ item.logo }}" alt="Logo" class="w-100" height="40px" style="object-fit:contain;">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1 d-flex align-items-center">
                                                                <div>
                                                                    <span class="position-absolute border border-3 top-50 end-0 translate-middle badge rounded-pill fw-normal roboto text-bg-secondary">
                                                                        {{ item.value }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img src="{{ item.movie.bgLink }}" class="img-fluid border border-1 border-dark rounded-5 bg-image-actor" alt="Background Image" style="object-fit:cover;">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                        
                {# Actor / Director Tabs #}
                <div class="col-md-6">
                    <div class="card rounded-4 shadow">

                        {# Nav Tabs #}
                        <div class="card-header">
                            <ul class="nav nav-tabs nav-fill card-header-tabs nav-fill roboto fw-semibold p-0" id="myTab" role="tablist">
                                {% include "./elements/nav-tab.html" with title="actors" icon="bi-person-video" active="show active" %}
                                {% include "./elements/nav-tab.html" with title="directors" icon="bi-person-video2" %}
                            </ul>
                        </div>

                        {# Tabs #}
                        <div class="tab-content">

                            {# Actors #}
                            <div class="tab-pane fade show active" id="actors-tab-pane" role="tabpanel" tabindex="0">
                                <div class="card-body px-3 pt-0 pb-3 mb-0" role="presentation">

                                    {# Nested Nav Tabs #}
                                    <div class="my-3">
                                        {% include "./elements/actor-nav.html" with title="actors" %}
                                    </div>

                                    {# Actor Tabs #}
                                    <div class="tab-content">

                                        {# Best Tab #}
                                        {% include "./elements/actor-tab.html" with title="best-actors" data=actors.best_by_rating active="show active" %}

                                        {# Worst Tab #}
                                        {% include "./elements/actor-tab.html" with title="worst-actors" data=actors.worst_by_rating %}
                                        
                                        {# Most Watched Tab #}
                                        {% include "./elements/actor-tab.html" with title="most-watched-actors" data=actors.by_count %}

                                    </div>
                                </div>
                            </div>

                            {# Directors #}
                            <div class="tab-pane fade" id="directors-tab-pane" role="tabpanel" tabindex="0">
                                <div class="card-body px-3 pt-0 pb-3 mb-0" role="presentation">

                                    {# Nested Nav Tabs #}
                                    <div class="my-3">
                                        {% include "./elements/actor-nav.html" with title="directors"%}
                                    </div>

                                    {# Director Tabs #}
                                    <div class="tab-content">

                                        {# Best Tab #}
                                        {% include "./elements/actor-tab.html" with title="best-directors" data=directors.best_by_rating active="show active" %}

                                        {# Worst Tab #}
                                        {% include "./elements/actor-tab.html" with title="worst-directors" data=directors.worst_by_rating %}
                                        
                                        {# Most Watched Tab #}
                                        {% include "./elements/actor-tab.html" with title="most-watched-directors" data=directors.by_count %}

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            
            </div>
        </div>

    </div>
        
</div>
{% endblock %}
