{% load custom_filters %}
{% load static %}
<script src="{% static 'watchlist/js/offcanvas.js' %}"></script>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="{{ movie.TMDB_ID }}">
    {% comment %} <div class="offcanvas-header position-relative">
        <img src="{{ movie.bgLink }}" alt="Image" class="img-fluid offcanvas-image">
        <div class="gradient-overlay"></div>
    </div> {% endcomment %}
    <div class="offcanvas-body p-0">
        <div class="card border-0 mx-0">
            <div class="sidebar-gradient-overlay position-absolute top-0 start-0 w-100 ">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <div class="pt-3 pb-0 ps-3 pe-0">
                                <img src="{{ movie.posterLink }}" class="img-fluid rounded-3 shadow-lg" alt="{{ movie.title }} Poster" height="180px">
                            </div>
                        </div>
                        <div class="col-md-7 d-flex flex-column">
                            <div class="card-body p-0">
                                <div class="z-2 position-absolute top-0 end-0">
                                    <button type="button" class="btn-close p-3" data-bs-dismiss="offcanvas"></button>
                                </div>
                                <span class="p-3 position-absolute">
                                    <p class="card-title pe-3 mb-0">
                                        <span class="h4 title">
                                            <a class="movie-title" data-movie-id="{{movie.TMDB_ID}}" href="#{{movie.TMDB_ID}}" role="button"><b>{{ movie.title }}</b></a>
                                            <span class="card-subtitle text-body-secondary roboto">({{ movie.year }})</span>
                                        </span>
                                    </p>
                                    {% if movie.tagline %}
                                        <small class="text-body-tertiary d-block mb-1"><i>{{ movie.tagline }}</i></small>
                                    {% endif %}
                                    {% if movie.timesSeen %}
                                        <p class="h6 badge rounded-pill text-bg-green"><i class="bi bi-check-lg"></i></p>
                                    {% else %}
                                        {% if movie.provider.first %}
                                            {% for provider in movie.provider.all %}
                                                <img class="align-top rounded-4 shadow-lg" src="/static/watchlist/images/{{ provider.name|striptags }}.png" height="24px">
                                            {% endfor %}
                                        {% else %}
                                            <p class="h6 badge rounded-pill text-bg-danger"><i class="bi bi-x-lg"></i></p>
                                        {% endif %}
                                    {% endif %}
                                    <p class="h6 badge rounded-pill text-bg-secondary">{{ movie.rating|convert_to_stars }}</p>
                                    {% if movie.runtime %}
                                        <p class="h6 badge rounded-pill text-bg-secondary">{{ movie.runtime }} mins</p>
                                    {% else %}
                                        <p class="h6 badge rounded-pill text-bg-secondary">{{ movie.episodes }} episodes</p>
                                    {% endif %}
                                    <hr class="my-1">
                                    <div class="row">
                                        <div class="col-sm-6 pe-0">
                                            <small class="text-body-tertiary roboto">    
                                                <i class="bi bi-broadcast-pin"></i> 
                                                {{ movie.releaseDate }}
                                            </small>
                                            {% if movie.date %}
                                                <br class="my-1">
                                                <small class="text-body-tertiary roboto">    
                                                    <i class="bi bi-film"></i>  
                                                    {{ movie.date }}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6 ps-0 text-end">
                                            <a href="https://www.themoviedb.org/movie/{{ movie.TMDB_ID }}" class="small text-body-tertiary roboto" target="blank">
                                                <i class="bi bi-link-45deg"></i>TMDB
                                            </a>
                                            <br class="my-1">
                                            <a href="https://www.imdb.com/title/{{ movie.IMDB_ID }}" class="small text-body-tertiary roboto" target="blank">
                                                <i class="bi bi-link-45deg"></i>IMDB
                                            </a>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% comment %} poster form {% endcomment %}
                    <div id="customPosterForm" class="my-1 mx-3 text-body-tertiary">
                        <a class="collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#posterCollapse" aria-expanded="false" aria-controls="posterCollapse" role="button" id="collapseButton">
                            <small class="text-bg-tertiary">
                                <span id="collapseIcon" class="bi bi-plus-circle"></span> <!-- Initial icon: Plus sign -->
                                Custom Poster Upload
                            </small>
                        </a>
                        <div class="collapse mt-1" id="posterCollapse" style="">
                            <form id="customPosterUploadForm">
                                <input type="hidden" name="movieId" value="{{ movie.TMDB_ID }}">
                                <div class="input-group">
                                    <input type="text" class="form-control px-1 py-1 p-0" id="posterLink" placeholder="https://image.tmdb.org/t/p/original/..." aria-label="https://image.tmdb.org/t/p/original/..." aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary px-1 py-1 p-0" type="submit" id="button-addon2">Submit</button>
                                </div>
                                <div class="text-body-tertiary form-text" id="basic-addon4">Find posters <a href="https://www.themoviedb.org/movie/{{ movie.TMDB_ID }}/images/posters" target="blank">here</a></div>
                            </form>
                        </div>
                    </div>
                    <hr class="mx-3 my-1">
                    {% comment %} ratings {% endcomment %}
                    <div class="row g-0 my-2 px-4">
                        <small class="text-body-tertiary roboto">    
                            <i class="bi bi-star-fill"></i>
                            Ratings
                        </small>
                        <div class="col-md-8 mt-1">
                            {% if movie.IMDB != None %}
                                <span class="mb-1 me-1 badge rounded-pill roboto text-bg-dg">
                                    <img class="rounded-5" src="{% static 'watchlist/images/imdb_logo.png' %}" alt="IMDB" height="20px" width="20px"></img>
                                    <small>&nbsp;{{ movie.IMDB}}</small>
                                </span>
                            {% endif %}
                            {% if movie.TMDB != None %}
                                <span class="me-1 badge rounded-pill roboto text-bg-dg">
                                    <img class="rounded-5" src="{% static 'watchlist/images/tmdb_logo.png' %}" height="20px" width="20px"></img>
                                    <small>&nbsp;{{ movie.TMDB}}</small>
                                </span>
                            {% endif %}
                            {% if movie.MC != None %}
                                <span class="me-1 badge rounded-pill roboto text-bg-dg">
                                    <img src="{% static 'watchlist/images/mc_logo.png' %}" height="20px" width="20px"></img>
                                    <small>&nbsp;{{ movie.MC}}</small>
                                </span>
                            {% endif %}
                            {% if movie.RTCritic != None %}
                                <span class="me-1 badge rounded-pill roboto text-bg-dg">
                                    <img src="{% static 'watchlist/images/rtcritic_logo.png' %}" height="20px" width="20px"></img>
                                    <small>&nbsp;{{ movie.RTCritic}}%</small>
                                </span>
                            {% endif %}
                            {% if movie.RTUser != None %}
                                <span class="me-1 badge rounded-pill roboto text-bg-dg">
                                    <img src="{% static 'watchlist/images/rtuser_logo.png' %}" height="20px" width="20px"></img>
                                    <small>&nbsp;{{ movie.RTUser}}%</small>
                                </span>
                            {% endif %}
                            {% if movie.LBXD != None %}
                                <span class="me-1 badge rounded-pill roboto text-bg-dg">
                                    <img src="{% static 'watchlist/images/lbxd_logo.png' %}" height="20px" width="20px"></img>
                                    <small>&nbsp;{{ movie.LBXD}}</small>
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 h-100">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <span class="align-middle">
                                    <b class="h4 big-number-card">
                                        <i class="bi bi-star-fill"></i>
                                        {{ movie.avg_critical_rating }}
                                    </b>
                                    <small class="h5 fw-semibold text-body-tertiary">avg.</small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr class="mx-3 my-1">
                    {% comment %} trailer {% endcomment %}
                    <div class="row g-0 my-2 px-4">
                        <small class="text-body-tertiary roboto">    
                            <i class="bi bi-youtube"></i>
                            Trailer
                        </small>
                        <div class="ratio ratio-16x9 mt-1">
                            <iframe id="youtubePlayer" class="video rounded-4" width="384" height="100%" src="{{ movie.trailerLink }}" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <hr class="mx-3 my-1">
                    {% comment %} synopsis {% endcomment %}
                    <div class="row g-0 my-2 px-4">
                        <small class="text-body-tertiary roboto">    
                            <i class="bi bi-body-text"></i>
                            Synopsis
                        </small>
                        <small class="text-body-secondary mt-1">
                            {{ movie.plot }}
                        </small>
                    </div>
                    <hr class="mx-3 my-1">
                    {% comment %} review {% endcomment %}
                    {% if movie.review != "" and movie.review != None %}
                        <div class="row g-0 my-2 px-4">
                            <small class="text-body-tertiary roboto">    
                                <i class="bi bi-pencil-square"></i>
                                Review
                            </small>
                            <small class="text-body-secondary mt-1">
                                {{ movie.review }}
                            </small>
                        </div>
                        <hr class="mx-3 my-1">
                    {% endif %}
                </div>
            </div>
            <img src="{{ movie.bgLink }}" class="img-fluid sidebar-bg-image mb-3" alt="Background Image">
        </div>
        {% comment %} RATINGS {% endcomment %}
        {% comment %} <div class="row g-0">
            <div class="col-md-7">
                {% if movie.IMDB != None %}
                    <span class="mb-1 me-1 badge rounded-pill roboto imdb">
                        <img src="{% static 'watchlist/images/imdb_logo.png' %}" alt="IMDB" height="16px" width="16px"></img>
                        <small>&nbsp;{{ movie.IMDB}}</small>
                    </span>
                {% endif %}
                {% if movie.TMDB != None %}
                    <span class="me-1 badge rounded-pill roboto tmdb">
                        <img src="{% static 'watchlist/images/tmdb_logo.png' %}" height="16px" width="18px"></img>
                        <small>&nbsp;{{ movie.TMDB}}</small>
                    </span>
                {% endif %}
                {% if movie.MC != None %}
                    <span class="me-1 badge rounded-pill roboto metacritic">
                        <img src="{% static 'watchlist/images/mc_logo.png' %}" height="16px" width="16px"></img>
                        <small>&nbsp;{{ movie.MC}}</small>
                    </span>
                {% endif %}
                {% if movie.RTCritic != None %}
                    <span class="me-1 badge rounded-pill roboto rt">
                        <img src="{% static 'watchlist/images/rtcritic_logo.png' %}" height="16px" width="16px"></img>
                        <small>&nbsp;{{ movie.RTCritic}}%</small>
                    </span>
                {% endif %}
                {% if movie.RTUser != None %}
                    <span class="me-1 badge rounded-pill roboto rt">
                        <img src="{% static 'watchlist/images/rtuser_logo.png' %}" height="16px" width="16px"></img>
                        <small>&nbsp;{{ movie.RTUser}}%</small>
                    </span>
                {% endif %}
                {% if movie.LBXD != None %}
                    <span class="me-1 badge rounded-pill roboto lb">
                        <img src="{% static 'watchlist/images/lbxd_logo.png' %}" height="16px" width="16px"></img>
                        <small>&nbsp;{{ movie.LBXD}}</small>
                    </span>
                {% endif %}
            </div>
            <div class="col-md-5">
                <div class="text-center d-flex flex-column justify-content-center">
                    <span><b class="h4 big-number-card">★ {{ movie.calculate_average_rating }}</b></span>
                    <b class="small-number-card">CRITICAL AVG.</b>
                </div>
            </div>
        </div>
        {% comment %} DIRECTOR {% endcomment %}
        {% comment %} <div class="row mb-3 p-3">
            <span class="h5 section-heading">
                <b>DIRECTOR</b>
            </span>
            <div>
                {% for director in movie.director.all %}
                <div class="card mb-3">
                    <div class="card-body p-0">
                        <div class="row g-2">
                            <div class="col-md-2">
                                {% if director.imgLink %}
                                    <img src="{{ url_start }}{{ director.imgLink }}" class="img-fluid rounded shadow" alt="{{ director.imgLink }} Poster">
                                {% else %}
                                    <i class="bi bi-person-circle"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                {{ director.name }}
                            </div>
                            <div class="col-md-1 p-2">
                                <small>
                                    <a class="badge rounded-pill text-bg-secondary" data-bs-toggle="collapse" data-bs-target="#{{ director.TMDB_ID }}_director_collapse" role="button">
                                        <svg class="text-body-secondary" fill="#ffffff" width="16" height="16"><use xlink:href="#expand"></use></svg>
                                    </a>
                                </small>
                            </div>
                        </div>
                        <div class="collapse multi-collapse" id="{{ director.TMDB_ID }}_director_collapse">
                            <div class="card-body mt-1 mb-1">
                                <div class="row g-3">
                                    {% for film in director.movie_set.all %}
                                    <div class="col-md-3">
                                        <img src="{{ film.posterLink }}" class="img-fluid rounded shadow" alt="{{ film.title }} Poster">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr> {% endcomment %}
        {% comment %} CAST {% endcomment %}
        {% comment %} <div class="row mb-3 p-3">
            <span class="h5 section-heading">
                <b>CAST</b>
            </span>
            <div>
                {% if movie.movieactor_set.all %}
                    {% for movieactor in movie.movieactor_set.all %}
                    <div class="card mb-3">
                        <div class="card-body p-0">
                            <div class="row g-2">
                                <div class="col-md-2">
                                    {% if movieactor.actor.imgLink %}
                                        <img src="{{ url_start }}{{ movieactor.actor.imgLink }}" class="img-fluid rounded shadow" alt="{{ movieactor.actor.imgLink }} Poster">
                                    {% else %}
                                    <div class="d-flex align-items-center justify-content-center h-100">
                                        <i class="bi bi-person-circle" style="font-size: 2em; color: #6c757d;"></i>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    {{ movieactor.actor.name }}<br>
                                    <small class="text-body-secondary">{{ movieactor.role }}</small>
                                </div>
                                <div class="col-md-1 p-2">
                                    <small>
                                        <a class="badge rounded-pill text-bg-secondary" data-bs-toggle="collapse" data-bs-target="#{{ movieactor.actor.TMDB_ID }}_actor_collapse" role="button">
                                            <svg class="text-body-secondary" fill="#ffffff" width="16" height="16"><use xlink:href="#expand"></use></svg>
                                        </a>
                                    </small>
                                </div> 
                            </div>
                            <div class="collapse multi-collapse" id="{{ movieactor.actor.TMDB_ID }}_actor_collapse">
                                <div class="card-body mt-1 mb-1">
                                    <div class="row g-3">
                                        {% for film in movieactor.actor.movie_set.all %}
                                        <div class="col-md-3">
                                            <img src="{{ film.posterLink }}" class="img-fluid rounded shadow" alt="{{ film.title }} Poster">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    {% for movieactor in movie.watchlistactor_set.all %}
                    <div class="card mb-3">
                        <div class="card-body p-0">
                            <div class="row g-2">
                                <div class="col-md-2">
                                    {% if movieactor.actor.imgLink %}
                                        <img src="{{ url_start }}{{ movieactor.actor.imgLink }}" class="img-fluid rounded shadow" alt="{{ movieactor.actor.imgLink }} Poster">
                                    {% else %}
                                        <div class="d-flex align-items-center justify-content-center h-100">
                                            <i class="bi bi-person-circle" style="font-size: 2em; color: #6c757d;"></i>
                                        </div>
                                    {% endif %}                                </div>
                                <div class="col-md-9">
                                    {{ movieactor.actor.name }}<br>
                                    <small class="text-body-secondary">{{ movieactor.role }}</small>
                                </div>
                                <div class="col-md-1 p-2">
                                    <small>
                                        <a class="badge rounded-pill text-bg-secondary" data-bs-toggle="collapse" data-bs-target="#{{ movieactor.actor.TMDB_ID }}_actor_collapse" role="button">
                                            <svg class="text-body-secondary" fill="#ffffff" width="16" height="16"><use xlink:href="#expand"></use></svg>
                                        </a>
                                    </small>
                                </div> 
                            </div>
                            <div class="collapse multi-collapse" id="{{ movieactor.actor.TMDB_ID }}_actor_collapse">
                                <div class="card-body mt-1 mb-1">
                                    <div class="row g-3">
                                        {% for film in movieactor.actor.movie_set.all %}
                                        <div class="col-md-3">
                                            <img src="{{ film.posterLink }}" class="img-fluid rounded shadow" alt="{{ film.title }} Poster">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div> {% endcomment %}
    </div>
</div>                                      
