{% load static %}
{% load custom_filters %}

<div class="card shadow">
    <div id="onThisDayCarousel" class="carousel slide">
        <div class="carousel-indicators">
            {% for item in on_this_day %}
                <button type="button" data-bs-target="#onThisDayCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for item in on_this_day %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    <div class="card-body p-0" style="position: relative;">
                        <div class="gradient-overlay-half rounded position-absolute top-0 start-0 w-100 ">
                            <span class="py-3 px-4 position-absolute">
                                {% if forloop.last %}
                                    <small class="text-body-tertiary roboto">    
                                        <i class="bi bi-dice-5-fill"></i>
                                        Random Throwback Movie of the Day
                                    </small>
                                {% elif item.director %}
                                    <small class="text-body-tertiary roboto">
                                        <i class="bi bi-cake2"></i>
                                        Director {{item.director.name}} was born on this day in {{item.director.birthday.year}}.
                                    </small>
                                {% elif item.actor %}
                                    <small class="text-body-tertiary roboto">
                                        <i class="bi bi-cake2"></i>
                                        Actor {{item.actor.name}} was born on this day in {{item.actor.birthday.year}}.
                                    </small>
                                {% else %}
                                    <small class="text-body-tertiary roboto">
                                        <i class="bi bi-broadcast-pin"></i>
                                        Released on this day in {{item.movie.releaseDate.year}}.
                                    </small>
                                {% endif %}

                                <p class="card-title mb-0">
                                    <span class="h5 title">
                                        <a class="movie-title" data-movie-id="{{item.movie.TMDB_ID}}" href="#{{item.movie.TMDB_ID}}" role="button"><b>{{ item.movie.title }}</b></a>
                                        <span class="card-subtitle text-body-secondary roboto">({{ item.movie.year }})</span>
                                    </span>
                                </p>
                                {% if item.movie.timesSeen %}
                                    <p class="h6 badge rounded-pill text-bg-green"><i class="bi bi-check-lg"></i></p>
                                {% else %}
                                    {% if item.movie.provider.first %}
                                        <img class="align-top rounded-4 shadow-lg" src="/static/watchlist/images/{{ item.movie.provider.first.name|striptags }}.png" height="24px">
                                    {% else %}
                                        <p class="h6 badge rounded-pill text-bg-danger"><i class="bi bi-x-lg"></i></p>
                                    {% endif %}
                                {% endif %}
                                <p class="h6 badge rounded-pill text-bg-secondary">{{ item.movie.rating|convert_to_stars }}</p>
                                {% if item.movie.runtime %}
                                    <p class="h6 badge rounded-pill text-bg-secondary">{{ item.movie.runtime }} mins</p>
                                {% else %}
                                    <p class="h6 badge rounded-pill text-bg-secondary">{{ item.movie.episodes }} episodes</p>
                                {% endif %}
                            </span>
                        </div>
                        <img src="{{ item.movie.bgLink }}" class="img-fluid rounded bg-image-half" alt="Background Image">
                    </div>                                    
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev week-button" type="button" data-bs-target="#onThisDayCarousel" data-bs-slide="prev">
        </button>
        <button class="carousel-control-next week-button" type="button" data-bs-target="#onThisDayCarousel" data-bs-slide="next">
        </button>    
    </div>
</div>