{% load static %}
{% load custom_filters %}

{% for movie in random %}
    <div class="carousel-item{% if forloop.first %} active{% endif %}">
        <div class="card-body p-0" style="position: relative;">
            <div class="gradient-overlay-half rounded position-absolute top-0 start-0 w-100 ">
                <span class="py-3 px-4 position-absolute">
                    <small class="text-body-tertiary roboto">    
                        <i class="bi bi-cast"></i>
                        Watch Now on {{ movie.provider.first.name|striptags }}
                    </small>
                    <p class="card-title mb-0">
                        <span class="h5 title">
                            <a class="movie-title" data-movie-id="{{movie.TMDB_ID}}" href="#{{movie.TMDB_ID}}" role="button"><b>{{ movie.title }}</b></a>
                            <span class="card-subtitle text-body-secondary roboto">({{ movie.year }})</span>
                        </span>
                    </p>
                    <img class="align-top rounded-4 shadow-lg" src="/static/watchlist/images/{{ movie.provider.first.name|striptags }}.png" height="24px">
                    <p class="h6 badge rounded-pill text-bg-secondary">{{ movie.rating|convert_to_stars }}</p>
                    {% if movie.runtime %}
                        <p class="h6 badge rounded-pill text-bg-secondary">{{ movie.runtime }} mins</p>
                    {% else %}
                        <p class="h6 badge rounded-pill text-bg-secondary">{{ movie.episodes }} episodes</p>
                    {% endif %}
                    {% if movie.reason %}
                        {% for reason in movie.reason|split_string:", " %}
                            <p class="h6 badge rounded-pill text-bg-green">{{ reason }}</p>
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
            <img src="{{ movie.bgLink }}" class="img-fluid rounded bg-image-half" alt="Background Image">
        </div>
    </div>
{% endfor %}
