{% comment %} {% load static %}
<script src="{% static 'watchlist/js/dashboard.js' %}"></script> {% endcomment %}

{% for randy in random %}
    {% if forloop.counter == 1 %}
        <div class="card shadow">
    {% else %}
        <div class="card shadow mt-3">
    {% endif %}
        <div class="row g-0">
            <div class="overlap col-md-3 d-flex shadow-lg">
                <img src="{{ randy.posterLink }}" class="img-fluid shadow rounded-start" alt="{{ randy.title }} Poster" style="height: 97px;">
                <img class="poster shadow-lg img-2" src="/static/watchlist/images/{{ randy.provider.first.name|striptags }}.png" height="35px">
            </div>
            <div class="col-md-9 d-flex flex-column">
                <div class="card-body p-2">
                    <span>
                        <small class="title">
                            <a class="movie-title" data-bs-toggle="offcanvas" href="#{{randy.TMDB_ID}}" role="button">
                                <b>{{ randy.title }}</b></a>
                        </small>
                        <small class="smaller-year text-body-secondary">
                            {{ randy.year }}
                        </small>
                        <small class="card-subtitle text-body-secondary">
                            <small class="h6 badge text-bg-secondary card-subtitle">{{ randy.runtime }} mins</small>
                        </small>
                    </span>
                </div>
                {% comment %} {% if randy.reason %}
                    <div class="card-footer">
                        <small class="h6 badge text-bg-info card-subtitle">
                            {{ randy.reason }}
                        </small>
                    </div>
                {% endif %} {% endcomment %}
                {% include "./offcanvas_movie.html" with movie=randy %}
            </div>
        </div>                
    </div>
{% endfor %}
