{% extends 'watchlist/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'watchlist/css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/2.2.0/css/searchPanes.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/2.2.0/css/searchPanes.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/use-bootstrap-tag@2.2.0/dist/use-bootstrap-tag.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'watchlist/css/table.css' %}">
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.2.0/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.2.0/js/searchPanes.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.7/sorting/natural.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/use-bootstrap-tag@2.2.0/dist/use-bootstrap-tag.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'watchlist/js/watchlog.js' %}"></script>
{% endblock %}
{% block content %}
<div id="container" class="container-fluid" style="display:none">
    <div class="row g-3 mt-1">

        <div class="col-md-3">
            <div id="sidebar" class="sidebar">
                <div class="card rounded-4">
                    <div class="card-header">
                        <div id="sidebar-header" class="row">
                        </div>
                    </div>
                    <div class="card-body py-0">
                        <div class="dtsp-verticalContainer">
                            <div id="searchPanes" class="dtsp-verticalPanes">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row g-3 mb-3">
                <div class="col-md-12">
                    <div class="card rounded-4">
                        <div class="card-body p-0">
                            <div class="d-grid gap-2 mx-auto">

                                <button class="btn btn-dark shadow text-body-secondary roboto fw-semibold rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#formCollapse" aria-expanded="false" aria-controls="formCollapse" role="button" id="collapseButton">
                                    <span id="collapseIcon" class="bi bi-plus-circle"></span>
                                    Add to Watchlog
                                </button>
                            </div>

                            {# Collapsed Form #}
                            <div class="collapse px-3 pb-3" id="formCollapse">
                                <form id="watchlogInput" method="post" action="{% url 'watchlog' %}">

                                    {% csrf_token %}
                                    {# Form Inputs #}
                                    <div class="row mt-1 g-3">
                                        <div class="col-md-1">
                                            <div id="moviePosterContainer" class="d-flex align-items-center justify-content-center bg-transparent text-body-primary h-100 border rounded-4">
                                                <i class="bi bi-film" style="font-size: 2em; color: #6c757d;"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-11">

                                            {# Top Row of Inputs #}
                                            <div class="row g-3 py-1">

                                                {# Title / Fav Input #}
                                                <div class="col-md-3 form-group">
                                                    <small>

                                                        {# Form Label #}
                                                        {% include "./elements/form-label.html" with id="id_title" text="Title" icon="bi-film" %}

                                                        {# Input Group #}
                                                        <div class="input-group">

                                                            {# Title #}
                                                            <input type="text" name="title" id="id_title" class="form-control bg-transparent text-body-primary rounded-start-4">

                                                            {# Favorite #}
                                                            <input type="hidden" id="likeInput" name="favorite">
                                                            <button type="button" id="likeButton" class="btn btn-sm btn-outline-secondary text-center text-body-red rounded-end-2">
                                                                <i id="heart-icon" class="bi bi-heart"></i>
                                                            </button>

                                                        </div>

                                                    </small>
                                                </div>

                                                {# Year #}
                                                <div class="col-md-3 form-group">
                                                    <small>

                                                        {# Form Label #}
                                                        {% include "./elements/form-label.html" with id="id_year" text="Year" icon="bi-calendar2" %}

                                                        {# Year #}
                                                        <input type="text" name="year" id="id_year" class="form-control bg-transparent rounded-4 text-body-primary" placeholder="YYYY">

                                                    </small>
                                                </div>

                                                {# Rating #}
                                                <div class="col-md-3 form-group">
                                                    <small>

                                                        {# Form Label #}
                                                        {% include "./elements/form-label.html" with id="id_rating" text="Rating" icon="bi-star-fill" %}

                                                        {# Rating #}
                                                        <input type="number" name="rating" id="id_rating" class="form-control bg-transparent rounded-4 text-body-primary" placeholder="&#9733; 0.5 - &#9733; 5.0" min="0.5" max="5.0" step="0.5">
                                                    
                                                    </small>
                                                </div>

                                                {# Date #}
                                                <div class="col-md-3 form-group">
                                                    <small>

                                                        {# Form Label #}
                                                        {% include "./elements/form-label.html" with id="id_date_watched" text="Date Seen" icon="bi-calendar2-date" %}
                                                        
                                                        {# Date #}
                                                        <input type="date" name="date_watched" id="id_date_watched" class="form-control bg-transparent rounded-4 text-body-primary" placeholder="YYYY-MM-DD">

                                                    </small>
                                                </div>

                                            </div>

                                            {# Bottom Row of Inputs #}
                                            <div class="row g-3 py-1">

                                                {# Service #}
                                                <div class="col-md-3 form-group">
                                                    <small>

                                                        {# Form Label #}
                                                        {% include "./elements/form-label.html" with id="id_service" text="Service" icon="bi-youtube" %}

                                                        <div class="input-group">

                                                            {# Services Dropdown#}
                                                            <select name="service" id="id_service" class="form-control bg-transparent rounded-start-4 text-body-primary">
                                                                <option label="Select"></option>
                                                                <option value="Netflix">Netflix</option>
                                                                <option value="Hulu">Hulu</option>
                                                                <option value="Max">Max</option>
                                                                <option value="Disney Plus">Disney Plus</option>
                                                                <option value="Apple TV Plus">Apple TV Plus</option>
                                                                <option value="Amazon Prime Video">Amazon Prime Video</option>
                                                                <option value="Peacock Premium">Peacock Premium</option>
                                                                <option value="Paramount Plus">Paramount Plus</option>
                                                                <option value="Paramount+ Amazon Channel">Paramount+ Amazon Channel</option>
                                                                <option value="Tubi TV">Tubi TV</option>
                                                                <option value="Freevee">Freevee</option>
                                                                <option value="TNT">TNT</option>
                                                                <option value="TBS">TBS</option>
                                                                <option value="AMC+">AMC+</option>
                                                                <option value="AMC+">MGM Plus</option>
                                                                <option value="AMC+">Starz</option>
                                                                <option value="Youtube">Youtube</option>
                                                                <option value="Youtube Movies">Youtube Movies</option>
                                                                <option value="Tik Tok">Tik Tok</option>
                                                            </select>

                                                            {# Favorite #}
                                                            <input type="hidden" id="theaterInput" name="theaters">
                                                            <button type="button" id="theaterButton" class="btn btn-sm btn-outline-secondary text-center text-body-red rounded-end-2">
                                                                <i id="theater-icon" class="bi bi-camera-reels"></i>
                                                            </button>

                                                        </div>

                                                    </small>
                                                </div>

                                                {# Tags #}
                                                <div class="col-md-9 form-group">
                                                    <small>

                                                        {# Form Label #}
                                                        {% include "./elements/form-label.html" with id="id_tags" text="Tags" icon="bi-tags" %}

                                                        {# Tag Input #}
                                                        <input name="tags" id="id_tags" type="text" class="form-control bg-transparent rounded-4 text-body-primary" placeholder="Add a tag then press Comma or Enter" >

                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    {# Review Block #}
                                    <div class="row py-1 mt-2">
                                        <div class="col-md-12 form-group">
                                            <small>

                                                {# Form Label #}
                                                {% include "./elements/form-label.html" with id="id_review" text="Review" icon="bi-pencil-square" %}

                                                {# Review #}
                                                <textarea name="review" id="id_review" class="form-control bg-transparent rounded-4 text-body-primary" rows="3"></textarea>

                                            </small>
                                        </div>
                                    </div>

                                    {# Submit Button #}
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <div class="d-grid gap-2 col-1 me-auto">
                                                <button class="btn btn-sm btn-secondary shadow fw-semibold raleway rounded-pill" type="submit" id="submitButton">
                                                    <span>
                                                        <div id="submitText">
                                                            Submit
                                                        </div>
                                                        <div class="d-none" id="loadingSpinner">
                                                            <span>
                                                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                                                <span role="status">Loading...</span>
                                                            </span>
                                                        </div>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bootstrap alert -->
            <div class="alert alert-success alert-dismissible fade show d-none" role="alert" id="successAlert">
                Operation successful!
            </div>
            <div id="tableContainer">
                {% include "./watchlog-table.html" with data=data %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
