{% load static %}

{% block js %}
    <script src="{% static 'watchlist/js/watchlog-datatable.js' %}"></script>
    <link rel="stylesheet" href="{% static 'watchlist/css/table.css' %}">
{% endblock %}

<div class="card">
    <table id="log" class="table-sm compact hover table-borderless mb-3" width="100%">
        <thead>
            <th style="width: 4%;"></th>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Runtime</th>
            <th>Date Seen</th>
            <th>Release Date</th>
            <th>Decade</th>
            <th>MPA</th>
            <th class="imdb_rating centered-col"><img src="{% static 'watchlist/images/imdb_logo.png' %}" alt="IMDB" height="20px" width="20px"></img></th>
            <th class="centered-col"><img src="{% static 'watchlist/images/tmdb_logo.png' %}" height="20px" width="20px"></img></th>
            <th class="centered-col"><img src="{% static 'watchlist/images/mc_logo.png' %}" height="20px" width="20px"></img></th>
            <th class="centered-col"><img src="{% static 'watchlist/images/rtcritic_logo.png' %}" height="20px" width="20px"></img></th>
            <th class="centered-col"><img src="{% static 'watchlist/images/rtuser_logo.png' %}" height="20px" width="20px"></img></th>
            <th class="centered-col"><img src="{% static 'watchlist/images/lbxd_logo.png' %}" height="20px" width="20px"></img></th>
            <th>Avg.</th>
            <th>Cast</th>
            <th>Director</th>
            <th>Genres</th>
            <th>Production Companies</th>
            <th>Service</th>
            <th>Theaters</th>
        </thead>
        {% for instance in data %}
            <tr>
                <td><img class="poster" src="{{ instance.posterLink }}" width="65%"></img></td>
                <td>
                    <a class="movie-title" data-movie-id="{{ instance.TMDB_ID }}" href="#{{ instance.TMDB_ID }}" role="button">
                        {{ instance.title }}
                    </a>
                </td>
                <td>{{ instance.year }}</td>
                <td>
                    {% if instance.rating %}
                        <span class="badge rounded-pill badge-green">
                            ★ {{ instance.rating|default:""}}
                        </span>
                    {% else %}
                        <span class="badge rounded-pill badge-green">
                            &nbsp;
                        </span>
                    {% endif %}
                </td>
                <td>{{ instance.runtime|default:"" }}</td>
                <td>{{ instance.date|date:"Y-m-d" }}</td>
                <td>{{ instance.releaseDate|date:"Y-m-d" }}</td>
                <td>{{ instance.decade }}</td>
                <td>{{ instance.MPA|default:""}}</td>
                <td>{{ instance.IMDB|default:""}}</td>
                <td>{{ instance.TMDB|default:""}}</td>
                <td>{{ instance.MC|default:""}}</td>
                <td>{{ instance.RTCritic|default:""}}</td>
                <td>{{ instance.RTUser|default:""}}</td>
                <td>{{ instance.LBXD|default:""}}</td>
                <td>{{ instance.avg_critical_rating }}</td>
                <td>{% for actor in instance.cast.all %}{{actor.name|striptags}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                <td>{% for director in instance.director.all %}{{director.name|striptags}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                <td>{% for genre in instance.genres.all %}{{genre.name|striptags}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                <td>{% for company in instance.prodCompany.all %}{{company.name|striptags}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                <td>{{ instance.service|default:""}}</td>
                <td>{{ instance.theaters|default:""}}</td>
            </tr>
        {% endfor %}
    </table>
</div>