{# Actor Navs #}

<ul class="nav nav-pills roboto fw-semibold">
    <div class="btn-group w-100" role="group">
        <button class="small rounded-start-4 nav-link raleway btn active" id="best-{{ title }}-tab" data-bs-toggle="tab" data-bs-target="#best-{{ title }}-tab-pane" type="button" role="tab">
            <i class="bi bi-arrow-up"></i> Best
        </button>
        <button class="small nav-link raleway btn" id="worst-{{ title }}-tab" data-bs-toggle="tab" data-bs-target="#worst-{{ title }}-tab-pane" type="button" role="tab">
            <i class="bi bi-arrow-down"></i> Worst
        </button>
        <button class="small rounded-end-4 nav-link raleway btn" id="most-watched-{{ title }}-tab" data-bs-toggle="tab" data-bs-target="#most-watched-{{ title }}-tab-pane" type="button" role="tab">
            <i class="bi bi-eye-fill"></i> Most
        </button>
    </div>
</ul>