{% load static %}
{% load custom_filters %}
{# Small Carousel: As Used in Tabs #}

<small class="text-body-tertiary roboto ms-2">
    <i class="bi bi-collection-play-fill"></i>
    {{ data.carousel_title }}
</small>
<div class="card rounded-4 border border-0 shadow">
    <div id="{{ data.title }}MoviesCarousel" class="carousel slide carousel-fade">
        <div class="carousel-indicators">
            {% for movie in data.movies %}
                <button type="button" data-bs-target="#{{ data.title }}MoviesCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for movie in data.movies %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    <div class="card-body p-0" style="position: relative;">
                        {# Gradient Overlay #}
                        <div class="gradient-overlay-half rounded-4 border border-1 border-dark position-absolute top-0 start-0 w-100 ">
                            <span class="py-3 px-4 position-absolute">
                                {# Date Sub-Heading #}
                                    {% if data.use_releases %}
                                        {% include "./small-header.html" with text=movie.releaseDate icon="bi-broadcast-pin" %}
                                    {% elif movie.date %}
                                        {% include "./small-header.html" with text=movie.date %}
                                    {% endif %}
                                {# Title Block#}
                                    {% include "./movie-title.html" with movie=movie size="h5" %}
                                {# Badges #}
                                    <small class="my-0">
                                        {% if movie.service %}
                                            <img class="align-middle border border-3 border-tertiary rounded-4 shadow-lg" src="/static/watchlist/images/{{ movie.service|striptags }}.png" height="24px">
                                        {% endif %}
                                        {% include "./badge-secondary.html" with text='<i class="bi bi-check-lg"></i>' color="green" %}                    
                                        {% include "./badge-secondary.html" with text=movie.rating|convert_to_stars %}
                                        {% if movie.runtime %}
                                            {% include "./badge-secondary.html" with text=movie.runtime|convert_to_hrs %}
                                        {% else %}
                                            {% include "./badge-secondary.html" with text=movie.episodes|convert_to_eps %}
                                        {% endif %}
                                        {% include "./badge-secondary.html" with text=movie.avg_critical_rating|convert_to_rating color="dark" %}
                                        {% if movie.movieaward_set.all %}
                                            {% include "./oscar-badge.html" with text=movie.movieaward_set.all|parse_oscar num=movie.movieaward_set.all|length icon="bi-trophy" color="gold"%}
                                        {% endif %}
                                    </small>
                            </span>
                        </div>
                        {# Background Image #}
                            <img src="{{ movie.bgLink }}" class="img-fluid rounded-4 border border-1 border-dark bg-image-half" alt="Background Image">
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev week-button" type="button" data-bs-target="#{{ data.title }}MoviesCarousel" data-bs-slide="prev">
        </button>
        <button class="carousel-control-next week-button" type="button" data-bs-target="#{{ data.title }}MoviesCarousel" data-bs-slide="next">
        </button>    
    </div>
</div>
