{% load static %}
{% load custom_filters %}
{# Tabs #}

<div class="tab-pane fade {{ active|default:"" }}" id="{{ data.title }}-tab-pane" role="tabpanel" tabindex="0">
    <div class="row g-3">
        <div class="col-md-12">
            {% include "./small-carousel.html" with data=data %}
        </div>
        {# Highest Rated #}
        <div class="z-1 col-md-7 d-flex flex-fill">
            {% include "./small-movie-card.html" with movie=data.highest_rated award=data.award_highest%}
        </div>
        {# Statistsics #}
        <div class="z-0 col-md-5 d-flex align-items-stretch">
            {% include "./small-stats-card.html" with data=data %}
        </div>
        {# Most Viewed Actors #}
        <div class="z-0 col-md-5 d-flex align-items-stretch">
            {% include "./small-table.html" with data=data.actors_by_count text="Most Watched Actors" %}
        </div>
        {# Highest Critically Rated #}
        <div class="z-1 col-md-7 d-flex flex-fill">
            {% include "./small-movie-card.html" with movie=data.highest_critical award=data.award_critical %}
        </div>
        {# Lowest Rated #}
        <div class="z-1 col-md-7 d-flex flex-fill">
            {% include "./small-movie-card.html" with movie=data.lowest_rated award=data.award_lowest %}
        </div>
        {# Most Viewed Directors #}
        <div class="z-0 col-md-5 d-flex align-items-stretch">
            {% include "./small-table.html" with data=data.directors_by_count text="Most Watched Directors" %}
        </div>
    </div>
</div>