{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load compress %}

{# Additional CSS Block #}
{% block css %}
    {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="{% static 'scss/dashboard.scss' %}" media="screen">
        <link type="text/x-scss" rel="stylesheet" href="{% static 'scss/rankings.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{# Additional JS Block #}
{% block js %}
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/javascript-color-gradient@2.4.4/src/index.min.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    
    <script src="{% static 'js/charts/movperyear.js' %}"></script>
    <script src="{% static 'js/charts/heatmap.js' %}"></script>
    <script src="{% static 'js/charts/streaming.js' %}"></script>
    <script src="{% static 'js/charts/ratings.js' %}"></script>
    <script src="{% static 'js/charts/eloratings.js' %}"></script>
    <script src="{% static 'js/charts/timedata.js' %}"></script>
    <script src="{% static 'js/charts/scatter_years.js' %}"></script>
    <script src="{% static 'js/charts/streaming_data.js' %}"></script>

    <script type="module" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid px-0">
        
        <div class="row my-0 px-0 g-0">

            <div class="col-md-2">
                <div class="sidebar bg-secondary-subtle p-3 vh-100 sticky-sidebar">
                    <ul id="scrollspy-bar" class="nav flex-column">
                        <small class="ps-1 text-body-tertiary roboto">General</small>
                        {% with current_url=request.path %}
                            {% for link, icon, text, path in dashboard_links %}
                            {% if forloop.counter == 4 %}
                                <hr>
                                <small class="ps-1 text-body-tertiary roboto">By the Day</small>
                            {% elif forloop.counter == 8 %}
                                <hr>
                            {% endif %}
                                {% if link == "month" %}
                                    <li class="nav-item">

                                        <a href="#month" class="sidebar-link btn btn-toggle nav-link{% if current_url == '/dashboard/'|add:link|add:'/' %} active{% endif %} py-1 px-0 rounded-2 raleway" role="button">
                                            <div class="row g-0">
                                                <div class="d-flex col justify-content-start align-items-center px-2">
                                                    <i class="bi nav-icon {{ icon }}"></i>
                                                    <span class="d-flex align-items-center ps-2">
                                                        <span class="nav-text text-center">
                                                            {{ text }}
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="d-flex col-2 justify-content-end" data-bs-target="#month_collapse" role="button" data-bs-toggle="collapse" aria-expanded="false">
                                                    <span class="d-flex align-items-center px-2">
                                                        <i class="bi bi-caret-down-fill"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>

                                        <div class="collapse" id="month_collapse">
                                            <ul class="btn-toggle-nav list-unstyled">
                                                {% for month in months %}
                                                    <li>
                                                        <a data-month="{{month.month}}" data-year="{{month.year}}" class="sidebar-link month-link nav-link py-1 roboto">
                                                            {{ month.month }} {{month.year}}
                                                        </a>
                                                        {% comment %} <a class="nav-link py-1 roboto" href="{% url 'dashboard_month' month=month.month year=month.year %}">{{month.month}} ({{month.year}})</a> {% endcomment %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                    </li>
                                {% elif link == "year" %}
                                    <li class="nav-item">

                                        <a href="#year" class="sidebar-link btn btn-toggle nav-link{% if current_url == '/dashboard/'|add:link|add:'/' %} active{% endif %} py-1 px-0 rounded-2 raleway" role="button">
                                            <div class="row g-0">
                                                <div class="d-flex col justify-content-start align-items-center px-2">
                                                    <i class="bi nav-icon {{ icon }}"></i>
                                                    <span class="d-flex align-items-center ps-2">
                                                        <span class="nav-text text-center">
                                                            {{ text }}
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="d-flex col-2 justify-content-end" data-bs-target="#year_collapse" role="button" data-bs-toggle="collapse" aria-expanded="false">
                                                    <span class="d-flex align-items-center px-2">
                                                        <i class="bi bi-caret-down-fill"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>

                                        <div class="collapse" id="year_collapse">
                                            <ul class="btn-toggle-nav list-unstyled">
                                                {% for year in years %}
                                                    <li>
                                                        <a data-year="{{year}}" class="sidebar-link year-link nav-link py-1 roboto">
                                                            {{year}}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="#{{ link }}" class="sidebar-link nav-link py-1 px-0 rounded-2 raleway">
                                            <span class="d-flex align-items-center px-2">
                                                <i class="bi nav-icon {{ icon }}"></i>
                                            <span class="d-flex align-items-center ps-2">
                                                <span class="nav-text text-center">{{ text }}</span>
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </ul>
                
                    <hr>

                    <ul class="nav flex-column">
                    </ul>
                </div>
            </div>

            <div class="col-md-10" data-bs-spy="scroll" data-bs-target="#scrollspy-bar">
                <section id="home" class="lazy-section" data-loaded="false">
                    {% include "./components/spinner.html" %}
                </section>
                
                <section id="analytics" class="lazy-section" data-loaded="false">
                    {% include "./components/spinner.html" %}
                </section>
                
                <section id="people" class="lazy-section" data-loaded="false">
                    {% include "./components/spinner.html" %}
                </section>

                <section id="on_this_day" class="lazy-section" data-loaded="false">
                    {% include "./components/spinner.html" %}
                </section>

                <section id="this_week" class="lazy-section" data-loaded="false">
                    {% include "./components/spinner.html" %}
                </section>

                <section id="month" class="lazy-section" data-loaded="false">
                    {% include "./components/spinner.html" %}
                </section>

                <section id="year" class="lazy-section" data-loaded="false">
                    {% include "./components/spinner.html" %}
                </section>

            </div>
            
        </div>
    </div>

{% endblock %}
