<style>
    #globe {
      width: 100%;
      aspect-ratio : 1.32 / 1;
    }
    </style>    
    <!-- Chart code -->
<script>
    am5.ready(function() {
    
    // Create root
    var root = am5.Root.new("globe"); 
    root._logo.dispose(); // TESTING USE ONLY, REMOVE BEFORE PUBLICATION

    // Set themes
    root.setThemes([
        am5themes_Animated.new(root)
    ]);
    
    // Create chart
    var chart = root.container.children.push(am5map.MapChart.new(root, {
        panX: "rotateX",
        panY: "rotateY",
        projection: am5map.geoOrthographic(),
        layout: root.horizontalLayout
    }));
    var backgroundSeries = chart.series.push(
        am5map.MapPolygonSeries.new(root, {})
    );

    backgroundSeries.mapPolygons.template.setAll({
        fill: am5.color("#252a2e"),
        fillOpacity: 1,
        strokeOpacity: 0
    });
    backgroundSeries.data.push({
        geometry:
            am5map.getGeoRectangle(90, 180, -90, -180)
    });

    
    // Create polygon series
    var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
        geoJSON: am5geodata_worldLow,
        valueField: "value",
        calculateAggregates: true
    }));
    
    polygonSeries.mapPolygons.template.setAll({
        fill: am5.color("#212529"),
        fillOpacity: 1,
        strokeWidth: 1,
        stroke: am5.color('#252a2e'),
        tooltipText: "{name}: {count}"
    });

    
    polygonSeries.set("heatRules", [{
        target: polygonSeries.mapPolygons.template,
        dataField: "value",
        min: am5.color('#c5f4de'),
        max: am5.color('#15d37c'),
        key: "fill"
    }]);
        
    polygonSeries.data.setAll({{ country_data|safe }});
    }); // end am5.ready()
</script>
    