<!-- Styles -->
<style>
    #heatmap {
        aspect-ratio : 1 / 1;
        width:100%;
          }
</style>
    <!-- Chart code -->
    <script>
    am5.ready(function() {
        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("heatmap");
        root._logo.dispose(); // TESTING USE ONLY, REMOVE BEFORE PUBLICATION
        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
            am5themes_Animated.new(root)
        ]);
        // Create chart
        // https://www.amcharts.com/docs/v5/charts/xy-chart/
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
            panX: false,
            panY: false,
            wheelX: "none",
            wheelY: "none",
            paddingLeft: 0,
            paddingRight: 0,
            paddingTop: 0,
            paddingBottom: 0,
            layout: root.verticalLayout
        }));
        // Create axes and their renderers
        var yRenderer = am5xy.AxisRendererY.new(root, {
            visible: false,
            inversed: true,
            minorGridEnabled: false,
            minorLabelsEnabled: false
        });
        yRenderer.grid.template.set("visible", false);
        yRenderer.labels.template.setAll({
            inside: true
        });
        yRenderer.labels.template.set('visible', false);

        var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
            renderer: yRenderer,
            categoryField: "weekday"
        }));
    
        var xRenderer = am5xy.AxisRendererX.new(root, {
            visible: false,
            opposite: true,
            minorGridEnabled: false,
            minorLabelsEnabled: false
        }); 
        xRenderer.grid.template.set("visible", false);
        xRenderer.labels.template.setAll({
            inside: true
        });
        xRenderer.labels.template.set('visible', false);

        var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
            renderer: xRenderer,
            categoryField: "week"
        }));
    
    
        // Create series
        // https://www.amcharts.com/docs/v5/charts/xy-chart/#Adding_series
        var series = chart.series.push(am5xy.ColumnSeries.new(root, {
            calculateAggregates: true,
            stroke: am5.color('#212529'),
            clustered: false,
            xAxis: xAxis,
            yAxis: yAxis,
            categoryXField: "week",
            categoryYField: "weekday",
            valueField: "value"
        }));
    
        series.columns.template.setAll({
            tooltipText: "[bold]{weekday}, {date}[/]\n{value} movies",
            strokeOpacity: 1,
            strokeWidth: 2,
            cornerRadiusTL: 10,
            cornerRadiusTR: 10,
            cornerRadiusBL: 10,
            cornerRadiusBR: 10,          
            width: am5.percent(100),
            height: am5.percent(100)
        });  

        var tooltip = am5.Tooltip.new(root, {
            getFillFromSprite: false,
            autoTextColor: false,
            labelText: "[bold]{weekday}, {date}[/]\n{value} movies\n{movies}"
        });

        tooltip.label.setAll({
            fontFamily: 'Roboto',
            fontSize: '10pt',
            fill: am5.color(0xffffff)
        });
                  
        tooltip.get("background").setAll({
            stroke: am5.color(0x000000),
            strokeOpacity: 0.0,
            fill: am5.color('#212529'),
            fillOpacity: 0.8
        });
        series.set("tooltip", tooltip);          
        // Set up heat rules
        // https://www.amcharts.com/docs/v5/concepts/settings/heat-rules/
        series.set("heatRules", [{
            target: series.columns.template,
            min: am5.color('#c5f4de'),
            max: am5.color('#15d37c'),
            dataField: "value",
            key: "fill"
        }]);
                  
        var data = {{ heatmap|safe }};
    
        series.data.setAll(data);
    
        yAxis.data.setAll([
        { weekday: "Monday" },
        { weekday: "Tuesday" },
        { weekday: "Wednesday" },
        { weekday: "Thursday" },
        { weekday: "Friday" },
        { weekday: "Saturday" },
        { weekday: "Sunday" }
        ]);
        
        xAxis.data.setAll([
        { week: "0" },
        { week: "1" },
        { week: "2" },
        { week: "3" },
        { week: "4" },
        { week: "5" },
        { week: "6" },
        ]);
    
    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/#Initial_animation
    chart.appear(1000, 100);
    
    }); // end am5.ready()
    </script>
    